DATABASE_URL= # MySQL Database connection string
OPENAI_API_KEY= 
NEXTAUTH_SECRET= # Generate with: openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000 # When deploying, change to the production URLk